body {
  margin: 0;
  padding-top: 65px;
  width: 100%;
  height: 100%;
  background: #ffffffcc;
}

hr
{
  background-color: rgba(0, 0, 0, 1);
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  opacity: 0.1;
}

#main #login-data
{
  text-align: center;
  margin: 25px;
  padding-top: 40px;
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s; 
  animation: fadein 2s;
}
#home
{
  margin: 25px;
  text-align: center;
}
.carousel {
  width:40%;
  margin: auto;
}
.carousel .item{
  width:100%;
}
#home #head
{
  font-family: "Changa One", cursive;
  color: rgba(146, 146, 146, 1);
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  text-align: center;
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s; 
  animation: fadein 2s;
  
}

#home #content
{
  font-size: 16px;
  -webkit-animation: fadein 3s; 
  -moz-animation: fadein 3s; 
  -ms-animation: fadein 3s; 
  -o-animation: fadein 3s; 
  animation: fadein 3s;
}

footer .footerNote 
{
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(104, 103, 103, 1);
  font-weight: 700;
}

footer .footerNote span 
{
  color: rgba(181, 178, 178, 1);
  font-weight: 400;
}

canvas 
{
  display:block;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: -1;
}

#about #detailbox
{
  background-color: yellow;
  margin: 25px;
  padding-left: 100px;
}

.thumbnail 
{
  border-radius: 5px;
  margin: 25px;
  display: block;
  float:left;
  width:30.333%;
  text-align: center;
  
}

@keyframes fadein 
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein 
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein 
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein 
{
  from { opacity: 0; }
  to   { opacity: 1; }
}

#blogcontent{
  font-size: 16px;
  -webkit-animation: fadein 3s; 
  -moz-animation: fadein 3s; 
  -ms-animation: fadein 3s; 
  -o-animation: fadein 3s; 
  animation: fadein 3s;
}

#postbox{
  padding-top: 25px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;

  
}
#postbox h5{
  font-size: 30px;
  padding-bottom: 5px;
  color:rgba(37, 10, 10, 0.863);
  font-family: 'Roboto', sans-serif;
}
#postbox  #content{
  color:rgba(0, 0, 0, 0.438);
  font-family: 'Gaegu', cursive;
  font-size: 20px;
}
#postbox  #bywho{
  color:rgba(0, 0, 0, 0.925);
  font-family: 'Gaegu', cursive;
  font-size: 17px;
}
#autherror{
  color:red;
  font-size:15px;
  font:bold;
  padding-top: 10px;
}
#noposts{
  font-size: 45px;
  font-family: 'Roboto',sans-serif;
  color:rgba(102, 13, 13, 0.657);
  text-align: center;
  padding-top: 20%;
}
#postform{
  font-family:  'Roboto',sans-serif;
  color:black;
  margin: 25px;
  padding-top: 40px;
  padding-left: 40px;
 
}
#postform #titleinput{
  width:50%;
  height:30px;

}
#postform #contentinput{
  width:50%;
  height:100px;
}
#bigheader{
  text-align: center;
}
#contentview{
  padding-top: 20px;
  text-align: center;
}
#contentview #title{
  font-family: 'Knewave', cursive;
  font-size: 3.6em;
  color :#4A4A4A;
  transition: color 0.3s ease;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: initial;
} 
#contentview .content{
  font-family: 'Merriweather', serif;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin:50px;
  text-align:justify;
  
}
#contentview button{
  font-size: 22px;
  font-family:  'Roboto',sans-serif;
}
#postbox a:hover{
  color: transparent;
}
